.container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.element{
    width: 25%;
    background-color: rgb(189, 41, 41);
    border: 1px solid;
    color: aliceblue;
}